---
layout: default
---

<div>

  <section>
    <h1>grasping at the dark</h1>

  <section>
    <h2>about</h2>

    <p>
		this is a record/journal cataloging solutions to problems i wasn't able to find elsewhere. benefit from my retarded stumbling through shit other people know way better than i do.
	<br>
		the name "grasping at the dark" comes from the feeling of trying to figure out something on your own with nobody to ask questions to.
    </p>
  </section>

</div>
