---
layout: default
---

<div class="home">

  <h1 class="page-heading">posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>
  <p>
      i don't know why you'd want to, but if you want to, you can subscribe with <a href="{{ "/feed.xml" | prepend: site.baseurl }}">rss</a>.
  </p>

</div>
